/* header & navigation style */
* {
    font-family: 'Open Sans', sans-serif;
}

span {
    color: chocolate;

}

button {
    background-color: orange;
    padding: 18px 35px;
    color: aliceblue;
    font-weight: 700;
    font-size: 20px;

}


.nav-title {
    font-weight: 800;
    font-size: 45px;
}

nav {
    display: flex;
    justify-content: space-between;
    padding:
        70px 240px;
}

nav ul {
    display: flex;
    align-items: center;

}

nav li {
    list-style: none;
    margin-left: 45px;
}

.header {
    background-color: #FFF8F3;
    background-image: url(../images/header_bg.png), url('../images/developer.png');
    background-repeat: no-repeat;
    background-position: bottom right, left;
}

/* banner & imagre */
.banner {
    margin: 0 130px;

    display: flex;
    align-items: center;
}

.btn {
    background-color: white;
    font-weight: 700;
    font-size: 20px;
    color: #FD6E0A;
}

.banner-sub-title {
    font-weight: 600;
    font-size: 45px;
}

.banner-title {
    font-weight: 700;
    font-size: 85px;
}

.banner-main {
    color: #757575;
    ;
}

/* main title */
.main {
    max-width: 1140px;
    margin: 0 auto;


}

.about {
    text-align: center;
    background-color: #FFF8F3;
}

.about-title,
about-info-container {
    text-align: center;
    padding-top: 124px;
    color: #181818;
    font-weight: 700;
    font-size: 35px;

}

.about-description {

    font-weight: 400;
    font-size: 18px;

}

.about-info-container {
    display: flex;
    text-align: center;
    justify-content: space-around;
}

.info-title {
    font-size: 20px;
    color: #757575;
}

.info-description {
    font-weight: 700;
    font-size: 20px;
    color: #474747;
}

/* What i do styles */
.what-i-do {
    text-align: center;
    margin-top: 111px;
}

.section-title {
    margin-top: 13px;
    font-weight: 700;
    font-size: 35px;
}

.sectrion-description {
    font-size: 18px;
    margin-bottom: 47px;

}

/* skill styles */
.skills-container {
    display: flex;
    margin-top: 47px;
    gap: 24px;
}

.skill {

    background: #FFFFFF;
    box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
    border-radius: 5px;
    padding: 30px;
}

.skill-title {
    font-weight: 700;
    font-size: 20px;
    color: #181818;
    margin-top: 3opx;
    margin-bottom: 26px;

}

.skill-description {
    color: #757575;
    ;
}

/* resume part */
.resume-contant {
    display: flex;
    gap: 25px;
    display: flex;
}

.section-title {
    text-align: center;
}

.resume-item.resume-title {
    font-weight: 700;
    font-size: 25px;
    color: #474747;
}

.resume-item.resume-sub-title {
    font-weight: 600;
    font-size: 20px;
    color: #757575;

}

.resume-item.resume-description {
    font-weight: 400;
    font-size: 16px;
    color: #757575;

}

.button{
    margin-top: 31px;
    margin-bottom: 50px;
}
/* contacts styles */
.contact{
    display: flex;
    background-color: #FFF8F3;
}

.contact-title{
  
}
/* footer styles */
.footer{
    font-size: 35px;
    background-color: blue;
    font-style: italic;
    text-align: center;
    text-decoration: dotted;
}