/* header & navigation style */
* {
    font-family: 'Open Sans', sans-serif;
}

span {
    color: chocolate;

}

button {
    background-color: orange;
    padding: 18px 35px;
    color: aliceblue;
    font-weight: 700;
    font-size: 20px;

}


.nav-title {
    font-weight: 800;
    font-size: 45px;
}

nav {
    display: flex;
    justify-content: space-between;
    margin:
        70px 240px;
}

nav ul {
    display: flex;
    align-items: center;

}

nav li {
    list-style: none;
    margin-left: 45px;
}

.header {
    background-color: #FFF8F3;
    background-image: url(../images/header_bg.png), url('../images/developer.png');
    background-repeat: no-repeat;
    background-position: bottom right, left;
}

/* banner & imagre */
.banner {
    margin: 0 130px;

    display: flex;
    align-items: center;
}

.btn {
    background-color: white;
    font-weight: 700;
    font-size: 20px;
    color: #FD6E0A;
}

.banner-sub-title {
    font-weight: 600;
    font-size: 45px;
}

.banner-title {
    font-weight: 700;
    font-size: 85px;
}

.banner-main {
    color: #757575;
    ;
}

/* main title */
.main {
    background-color: #FFF8F3;


}

.about {
    text-align: center;
}

.about-title,
about-info-container {
    text-align: center;
    padding-top: 124px;
    color: #181818;
    font-weight: 700;
    font-size: 35px;

}

.about-description {
    
    font-weight: 400;
    font-size: 18px;

}

.about-info-container {
    display: flex;
    text-align: center;
    justify-content: space-around;
}

.info-title {
    font-size: 20px;
    color: #757575;
}

.info-description {
    font-weight: 700;
    font-size: 20px;
    color: #474747;
}
}